

h1 {
    text-align:center;
    margin-bottom: 0px;
}

.my-list {
    padding-left: 0;
}

ul {
    list-style-position: inside;
    text-align: left;
    padding-left: 40px;
    padding-top: 30px;
}

div {
    font-size: 30px;
    text-align: center;
}

a {
    color: inherit; /* 링크의 색상을 상위 요소의 색상과 동일하게 설정합니다. */
    text-decoration: none; /* 밑줄 효과를 제거합니다. */
}

#main {
    width: auto;
    display: grid;
    grid-template-columns: 1fr 6.5fr 1fr;    
}

#main #contents {
    height: auto;
    background-color: white;
    margin-right: 0px;
}

#text-box {
    /* 원하는 스타일을 설정하세요. 예를 들어: */
    width: 90%; /* 박스의 너비를 설정합니다. */
    height: auto; /* 박스의 높이를 설정합니다. */
    margin: 20px auto; /* 박스를 중앙에 배치합니다. */
    padding: 30px; /* 박스 내부의 패딩을 설정합니다. */
    border-radius: 20px; /* 모서리를 둥글게 만듭니다. */
    background-color: rgba(243, 241, 241, 0.534); /* 박스의 배경색을 설정합니다. */
    color: black; /* 텍스트의 색상을 설정합니다. */
    font-size: 20px;
}

#main #sidebar {
    height: 100vh;
    background-color: #71c8e6;
}

.button-container {
    display: flex;
    flex-direction: rows;
    align-items: center;
    justify-content: center;
    height: 50px; /* 컨테이너의 높이를 #sidebar의 높이와 동일하게 설정합니다. */
}

.button-container2 {
    display: flex;
    flex-direction: rows;
    align-items: center;
    justify-content: center;
    height: 50px; /* 컨테이너의 높이를 #sidebar의 높이와 동일하게 설정합니다. */
    padding-top: 30px;
    padding-bottom: 70px;
    border-bottom: 3px solid rgb(120, 247, 240);
}

.button-container2 #brightMode {
    text-align: left;
}

#footer1 {
    padding: 30px;
    margin-top: 0px;
    background-color: white;
    margin-bottom: 0px;
}

#footer2 {
    padding: 80px;
    margin-top: 10px; 
    background-color: #e2e6e6;
}


@media (max-width:900px){ /*가로 너비가 600px 이하일 때 아래 스타일 적용*/
    #main {
        display: block;    
    }

    #main #contents {
        margin-bottom: 10px; 
        margin-right: 0px;
    }
    #main #sidebar {
        min-height: 0;
    }
}

@font-face{
    font-family: "myfontstyle";
    src: url("MaruBuri-SemiBold.ttf");
}

.user-wrap{
    margin: 0px auto;
    position: relative;
}

.user-wrap img{
    width: 100%;
    height: 220px;
    vertical-align: middle;
}

.main-text{
    position: absolute;
    color: white;
    font-weight: bold;
    top: 40%;
    left: 50%;
    width: 100%;
    transform: translate(-35%, -50%);
    font-size: 50px;
    font-family: 'Jua';
    text-align: center;
    display: block;
    text-shadow: 2px 2px 4px rgb(0, 0, 7);
}

#brightMode{
    position: absolute;
    top: 20%;
    left: 5%;
    transform: translate(-35%, -50%);
    text-align: left;
    display: block;
}

#contents #map {
    margin-left: auto;
    margin-right: auto;
}

#contents table {
    margin-left: auto;
    margin-right: auto;
}

table {
    background-color: #967E76;
}

td {
    background-color: #eecbcb;
    padding: 20px;
    text-align: center;
}

td img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto; /* 이미지 숨김 */
}